div {
    border: 1px solid black;
    box-sizing: border-box;
}

.container-1 {
    border: 2px dashed red;
    position: relative;
}

.first {
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.second {
    width: 200px;
    height: 200px;
    background-color: green;

    position: absolute;

    top: 50px;
    left: 50px
}

.third {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;

    top: 100px;
    left: 100px;
}

.container-2 {
    width: 300px;
    height: 300px;

    position: relative;
}

#center {
    width: 50px;
    height: 50px;
    background-color: pink;

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
}

.fixed-area {
    width: 120px;
    
    position: fixed;

    bottom: 50px;
    right: 50px;
}

/*************************************/

.div_test {
    width: 250px;
    height: 250px;
}

.div_test > div {
    width: 100%;
    height: 50px;
    border: 0;
}

div[class *= "child"] > div {
    width: 50px;
    height: 50px;
    border: 1px solid white;

    float: left;
}

.div_first > div:first-child, .div_green > div:nth-child(2)  {
    background-color: red;
}

.div_green > div:nth-child(3), .div_green2 > div:nth-child(2n) {
    background-color: green;
}
​
        /****************************************************************/
​
.table_test {
    width: 250px;
    height: 250px;
    border: 1px solid black;
}

.tr_test > td:first-child, .tr_test3 > td:nth-child(2) {
    background-color: red;
}

.tr_test2 > td:nth-child(3), .tr_test3 > td:nth-child(4), .tr_test3 > td:nth-child(2)  {
    background-color: green;
}​
